.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
}

.card {
    background-color: #d4006a;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    background-color: #2e2d2e;
}

.card-img-container img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #d4006a; 
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 3px solid #d4006a;
}

.fps-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

button {
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

button:focus {
    outline: none;
}

.card-body {
    background-color: #f9f9f9; /* Fondo claro para la sección */
    border-radius: 20px; /* Bordes redondeados */
    padding: 20px;
}

.card-title {
    font-size: 25px;
    color: #d4006a; /* Color azul para el título */
    font-weight: bold;
}

.list-group-item {
    background-color: #ffffff; /* Fondo blanco para cada ítem */
    color: #333; /* Color de texto general */
    border: 1px solid #ddd; /* Borde sutil */
    padding: 12px 15px;
}

.list-group-item:hover {
    background-color: #e9ecef; /* Fondo más oscuro al pasar el mouse */
}

.list-group-item strong {
    color: #d4006a; /* Color azul para los elementos <strong> */
    font-weight: bold; /* Asegurar que el texto en <strong> se vea más pesado */
}

.list-group-item strong:hover {
    color: #000; /* Color más oscuro al pasar el ratón por encima */
}

.card-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.best-gpu-message {
    background-color: #e9ecef; /* Color de fondo suave */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.best-gpu-message strong {
    color: #d4006a; /* Un color verde para destacar el texto */
    font-size: 20px;
}

.best-gpu-message p {
    font-size: 20px;
    color: #000;
    margin: 10px 0;
}

.best-gpu-message p.no-recommended {
    color: #d32f2f; /* Color rojo para alertar sobre la falta de configuración */
    font-weight: bold;
}

.best-gpu-message p.rtx {
    color: #ffeb3b; /* Amarillo para resaltar el RTX */
    font-weight: bold;
}

.best-gpu-message:hover {
    background-color: #b2ebf2; /* Color más claro cuando el usuario pasa el mouse */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.category-title {
    font-size: 50px;
    font-weight: 700;
    color: #d4006a;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos personalizados para la sección de selección de GPU */
.select-gpu-section {
    background-color: #fff; /* Fondo blanco para armonizar con .container */
    padding: 20px;
    border: 1px solid #d4006a; /* Borde del color principal */
    border-radius: 30px; /* Bordes redondeados */
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Sombra para destacar */
    text-align: center;
}

.select-gpu-section h2 {
    font-size: 2rem;
    color: #d4006a; /* Color principal */
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.select-gpu-section label {
    display: block;
    font-size: 1.2rem;
    color: #333; /* Color neutro para el texto */
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.select-gpu-section select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #d4006a; /* Borde del color principal */
    border-radius: 15px; /* Bordes redondeados */
    margin-bottom: 20px;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #fff; /* Fondo blanco */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra interior */
}

.select-gpu-section select:focus {
    border-color: #2e2d2e; /* Borde más oscuro al enfocar */
    background-color: #f9f9f9; /* Fondo más claro */
    outline: none;
}

.select-gpu-section button {
    display: inline-block;
    background-color: #d4006a; /* Color principal */
    color: #fff;
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 30px; /* Bordes redondeados consistentes con .card */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    font-weight: bold;
}

.select-gpu-section button:hover {
    background-color: #2e2d2e; /* Fondo oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto hover */
}

.select-gpu-section .error-message {
    color: #d4006a; /* Rojo principal */
    font-weight: bold;
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
}
