.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-label {
    width: 100px;
}

.form-input {
    flex: 1;
}

.form-check {
    margin-bottom: 1px;
}

.invalid-feedback {
    color: red;
    font-size: 12px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajusta este valor para cambiar la separación entre los elementos */
}

.submit-btn {
    background-color: #326fb1;
    color: #000;
}

.submit-btn:hover {
    background-color: #1a3e64;
    color: #fff; /* Cambia el color del texto al blanco */
}

.btn-link {
    color: #007bff; /* Color del enlace */
    text-decoration: none;
}

.btn-link:hover {
    color: #0056b3; /* Color del enlace al pasar el ratón */
    text-decoration: underline;
}



