.comparativa-table {
    width: 100%;
    max-width: 800px; /* Limita el ancho máximo */
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.comparativa-table th, 
.comparativa-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.comparativa-table th {
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
}

.comparativa-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.comparativa-table tr:hover {
    background-color: #f1f1f1;
}

/* Fila seleccionada */
.selected-row {
    background-color: #fff3cd;
    color: #856404;
    font-weight: bold;
    border-left: 4px solid #ffc107;
}

/* Mejora de FPS */
.fps-improvement {
    font-weight: bold;
    color: #28a745; /* Verde por defecto */
}

.fps-improvement.negative {
    color: #dc3545; /* Rojo para valores negativos */
}

/* Estilo de las gráficas */
.gpu-brand.gpu-amd {
    color: red;
    font-weight: bold;
}

.gpu-brand.gpu-nvidia {
    color: green;
    font-weight: bold;
}
/* Estilo del encabezado Comparativa de Configuraciones */
.comparativa-title {
    color: #d4006a; /* Cambia el color del texto (naranja en este caso) */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    font-size: 20px; /* Tamaño del texto */
    margin-bottom: 15px; /* Separación del contenido inferior */
}
